/* related item carousel */

.carousel-container{
    width: 1700px;
}

.carousel-item {
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: 20px 20px;
    background-color: #EFD070;
    overflow: hidden;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    padding: 30px
}

.carousel-item >img{
    width: 80%;
    height: 80%;
}

/* product-carousel */

.product-carousel-container{
    width: 844px;
    height:280px; 
    display: flex;
}
.product-carousel{
    width: 30%;
    height: 30%;
}







